<div class="center main">
  <h2 class="heading">List of your reservations</h2>
  <div *ngIf="reservations.length > 0;else noRes">

    <table class='tbl'>
      <tbody>
      <tr class='tblHeader'>
        <td class="center">#</td>
        <td class="center">Business Name</td>
        <td class='center'>Date</td>
        <td class='center'>Time</td>
        <td class='center'>Email</td>
        <td class='center'></td>
      </tr>
        <ng-container *ngFor="let res of reservations; let i = index">
          <tr class="tableRow">
            <td class='center'>{{i + 1}}</td>
            <td class='center'>{{res.rest}}</td>
            <td class='center'>{{res.date}}</td>
            <td class='center'>{{res.time}}</td>
            <td class='center'>{{res.email}}</td>
            <td class='center'><img class="trash" src="../assets/trash.png" alt="" (click)="cancelRes(i)"></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <ng-template #noRes>
    <div class="noResAvail">
      <p class="noResP">No reservations to show</p>
    </div>
  </ng-template>
</div>
